@import url('./common.css');

body{
  display: flex;
}

h1 {
  color: rgb(116, 116, 116);
  font-weight: 300;
  margin: .5em 0;
}

form {
  position: relative;
  max-width: 26em;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em auto;
  box-shadow: 0 5px 5px lightgrey;
  padding: 1em 2.5em;
  box-sizing: border-box;
}

form:after {
  position: absolute;
  content: '';
  width: .7em;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary), var(--secondary));
}


.inputLogin {
  width: 100%;
  /* padding: .4em .5em; */
  padding: .4em 0;
  background-color: var(--app-grey);
  border: 1px solid var(--app-grey);
  border-radius: .2em;
}

.inputLogin:focus {
  outline: none;
  border: 1px solid lightgrey;
}

.inputLogin .error{
  border: 1px solid var(--error);
}

small{
  color: var(--error);
  font-size: 12px;
  display: none;
}

small.show{
  display: block;
}

.checkboxShowPassword {

  display: none;
  align-items: center;
  gap: 16px;
  justify-content: right;

}

.showPassword {

  display: flex;

}

.alertIdentUser {

  opacity: 0;
  background-color: var(--bg-alert);
  font-size: 12px;
  margin: 16px 0 0 0;
  color: var(--error);
  padding: 4px 16px;
  transition: 0.6s;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

}

.alertIdentUserShow {

  opacity: 1;
  display: block;

}

label {
  width: 100%;
  font-weight: 300;
  margin-bottom: -.1em;
  margin-top: 1em;
  font-size: .8em;
}

button {
  padding: .5em 3em;
  background-color: var(--secondary);
  color: white;
  margin-top: 1em;
  font-weight: 400;
  font-size: 1em;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.form-header {
  color: grey;
  font-size: 2em;
}
.ingressar{
  text-align: center;
}
.left{
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left img{
  width:60%;
}
.right{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------------------------spinner--------------------------------------------- */
.hidden {
  display: none;
 }

 /* Estilos do Spinner */
 #conteiner-load {
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  background-color: whitesmoke;
 }

 #load {
  border: 10px solid rgb(255, 255, 255);
  outline: 1px solid lightgray;
  border-top-color: var(--primary);
  border-bottom-color: var(--secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  -webkit-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
 }

 /* Animação do spinner */
 @-webkit-keyframes girar {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
 }

 @keyframes girar {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
 }
